/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgba(70, 160, 255, 0.85); /* DodgerBlue */
  --ifm-color-primary-dark: rgba(50, 140, 230, 0.85);
  --ifm-color-primary-darker: rgba(20, 100, 180, 0.85);
  --ifm-color-primary-light: rgba(70, 160, 255, 0.85);
  --ifm-color-primary-lighter: rgba(120, 190, 255, 0.85);
}

/* Dark mode */
html[data-theme='dark'] {
  --ifm-color-primary: rgba(70, 160, 255, 0.9);
  --ifm-color-primary-dark: rgba(50, 140, 230, 0.9);
  --ifm-color-primary-darker: rgba(40, 120, 200, 0.9);
  --ifm-color-primary-light: rgba(120, 190, 255, 0.9);
  --ifm-color-primary-lighter: rgba(170, 215, 255, 0.9);
}


.footer {
  border-top: 1px solid rgba(30, 144, 255, 0.3);
}

html[data-theme='dark'] .footer {
  background: rgba(30, 144, 255, 0.1); /* lighter for contrast */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top: 1px solid rgba(70, 160, 255, 0.3);
}
